@font-face {
    font-family: cinzel;
    src: url(fonts/CinzelDecorative-Black.ttf);
}
@font-face {
    font-family: Roman;
    src: url(fonts/LuxuriousRoman-Regular.ttf)
}
header{
    border-radius: 20px;
    padding: 20px;
    background-color: #030B35;
    color: #8BC1FF;
    text-align: center;
    align-items: center;
    display: block;
    margin: 0;
    padding: 15px;
    justify-content: flex-start;
    }
main{
    border-radius: 20px;
    padding: 50px;    
    background-color: #030B35;
        color: #8BC1FF;
        text-align: center;
}

h1{
    font-family: cinzel, Helvetica, sans-serif;
} 
.h1-{
    color: #ffff;
}  
h3 {
    font-family: cinzel, Helvetica, sans-serif;
    text-align: left;
    
}
.h3 {
    padding-left: 20px;
}
.p-main{
    text-align: center;
}

.logo-container{
    display: flex;
    align-items: center;
}
.img-header{
    max-width: 70px;
    height: 70px;
    display: block; 
}
ul {
  list-style-type: none; 
}
h5 {
    color:#ffffff9c
   
}
.h5- {
    font-family: Roman, Helvetica, sans-serif;
    font-size: 20px;
    
}
.i- {
    color:#ffff;
}
.strong- {
    color:#a8d0fd;
}
.p-{
    font-size: 15px;
    color:#b7d9ff;
}