@font-face {
    font-family: cinzel;
    src: url(Fontes/CinzelDecorative-Black.ttf);
}
header{
    border-radius: 20px;
    background-color: #daebfd;
    color: #112A46;
    text-align: center;
    }
main{
        background-color: #BBDBFE;  
        color: #112A46;  
        text-align: center;
}
img{
        float: left;
        width: 90px;
        height: 90px;

}
h1{
    font-family: cinzel, Helvetica, sans-serif;
}    
h3 {
    font-family: cinzel, Helvetica, sans-serif;
    text-align: left;
}